.comment_body{margin:0px 0 20px 0px;padding:0 10px 10px;position:relative;z-index:1}
.comment_date{color:#999;font-style:italic;font-size:11px;line-height:1.2em;cursor:pointer;font-weight:400;margin-right:20px}
.comment_form{margin-top:-20px}
.comment_form a{color:#444;text-decoration:none;font-size:16px;font-weight:700}
.comment_form a:hover{color:#fff}
.comment_author_flag{display:none}
#comment editor{width:100%!important;background:url(data:image/gif;base64,R0lGODlhKwALAPAAAKrD2AAAACH5BAEKAAEAIf4VTWFkZSBieSBBamF4TG9hZC5pbmZvACH/C05FVFNDQVBFMi4wAwEAAAAsAAAAACsACwAAAjIMjhjLltnYg/PFChveVvPLheA2hlhZoWYnfd6avqcMZy1J14fKLvrEs/k+uCAgMkwVAAAh+QQBCgACACwAAAAAKwALAIFPg6+qw9gAAAAAAAACPRSOKMsSD2FjsZqEwax885hh3veMZJiYn8qhSkNKcBy4B2vNsa3pJA6yAWUUGm9Y8n2Oyk7T4posYlLHrwAAIfkEAQoAAgAsAAAAACsACwCBT4OvqsPYAAAAAAAAAj1UjijLAg9hY6maalvcb+IPBhO3eeF5jKTUoKi6AqYLwutMYzaJ58nO6flSmpisNcwwjEfK6fKZLGJSqK4AACH5BAEKAAIALAAAAAArAAsAgU+Dr6rD2AAAAAAAAAJAVI4oy5bZGJiUugcbfrH6uWVMqDSfRx5RGnQnxa6p+wKxNpu1nY/9suORZENd7eYrSnbIRVMQvGAizhAV+hIUAAA7) 50% 30% no-repeat #fff;margin-top:10px;border:1px solid #ddd;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.comment-form p,.disqus-box,.facebook-box{-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.comment-form{margin-top:25px!important}
.comment_emo_list .item{float:left;text-align:center;height:40px;width:41px;margin:10px 0 0}
.comment_emo_list span{display:block;font-weight:400;font-size:11px;letter-spacing:1px;color:#444}
.comment_youtube{width:400px;height:225px;display:block;margin:auto}
.comment-form p{background: linear-gradient(-135deg,#f72762 0,#f9a322 100%);padding:10px 10px 5px;margin:5px 0;color:#eee;font-weight:300;font-size:16px;font-family:Roboto,sans-serif;line-height:1.3em;width:100%;border-radius:3px;position:relative;box-sizing:border-box;display: none;}
.comment-form p:after{content:"";width:0;height:0;position:absolute;bottom:-15px;left:15px;border:8px solid transparent;border-color:#ff2e63 transparent transparent}
.deleted-comment{display:block;color:#efefef;font:italic 13px Arial;margin-top:-10px;background:#DB6161;padding:10px}
.comment-text {}
.disqus-bar,.facebook-bar{font-family: droid arabic kufi;font-weight: 700;
    color: #0e2431;
    font-size: 18px;
}
.small-button a{color:#0e2431!important}
.small-button a:hover{color:#ff2e63!important}
.disqus-bar,.facebook-bar{display:inline;float:left;padding:5px 10px;cursor:pointer;background:#eee}
.disqus-bar{margin-right:5px;margin-top:20px;border-radius:3px 3px 0 0;border:1px solid #ddd;border-bottom:none}
.disqus-bar.commentbtn {background: #2e9fff;color: #fff;width: 32%;text-align: center;margin: 20px 0px 15px 4px;height: 40px;line-height: 30px;}
.facebook-bar{
margin: 20px 0px 0 0;border-radius: 3px 3px 0 0;border: 1px solid #ddd;border-bottom: none;background: #3b5998;color: #fff;width: 33%;text-align: center;height: 40px;line-height: 30px;}
.disqus-box,.facebook-box{width:100%;padding:10px;border:1px solid #999;box-sizing:border-box}
.facebook-box{display:none}
.fb-comments,.fb_iframe_widget iframe,.fb_iframe_widget span{width: 130%!important;margin-right: -12px;}
.fb-comments{padding:0!important;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
.btncurrent{padding:5px 10px 6px;margin-bottom:-1px;/*background:#fff*/}
.comment-text{display:inline;float:right;padding:5px 0 5px 10px;margin-top:20px;font-family: droid arabic kufi;font-weight: 700;color: #fff;font-size: 14px;margin-right: 5px;background: linear-gradient(-135deg,#f72762 0,#f9a322 100%);border-radius: 4px;}
.comment-text:after{content:'\f063';font-family:FontAwesome;color:#fff;margin-right:5px;font-size: 16px;}
/*
----------------------------------*/
#comments2{clear: both;padding: 10px 0px;margin-top: -1px;font-family: droid arabic kufi;border: 1px solid #999;}
#comments2 h3{
margin: 5px;font-size: 12px;font-weight: 700;color: #fff;padding: 10px;background: #0e2431;width: 150px;font-family: droid arabic kufi;border-radius: 4px;}
#comment_block{padding: 20px 20px 20px 5px;position: relative;}
.comment_avatar {height: 45px;width: 45px;background: url(//2.bp.blogspot.com/-KjVxDap0Bzs/Uc7Jfm_9VWI/AAAAAAAAEqs/jD56hYNIm88/s48/anon48.gif) center center no-repeat #F0F0F0;
float: right;margin-top: 0px;margin-right: -32px;margin-left: 15px;overflow: hidden;border-radius: 4px;
-webkit-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
-ms-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
-o-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
}
.comment_avatar:before {content: "";position: absolute;/* top: 0; */left: 85.5%;width: 0px;height: 0;
border-style: solid;border-color: transparent #999 transparent transparent;border-width: 25px 12px 20px 40px;}
.comment_child .comment_avatar:before {content: "";position: absolute;/* top: 0; */
left: 75.6%;width: 0px;height: 0;border-style: solid;border-color: transparent #999 transparent transparent;border-width: 23px 12px 20px 40px;}
.comment_avatar * {max-width: 1000%!important;display: block;max-height: 1000%!important;width: 45px!important;height: 45px!important;margin: 0 auto;}
.comment-form,.comment_img,.comment_youtube{max-width:100%!important}
.comment_child .comment_avatar, .comment_child .comment_avatar * {width: 43px!important;height: 43px!important;float: right;
-webkit-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
-ms-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
-o-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
}
.comment_area {
    background: #fff;
    margin-right: 27px;
    border-right: 2px solid #9999;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
    -o-box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 10px 1px rgba(0,0,0,0.1);
}
.comment_header{
    /* margin-left: 5px; */
    background: linear-gradient(-135deg,#f72762 0,#f9a322 100%);
    /* height: 25px; */
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
}
.comment_service{
    margin-right: 0px;
    margin-top: 2px;
    position: relative;
    line-height: 1em;
    float: left;
    margin-left: 20px;
}
.comment_name a{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    font-size: 12px;
    font-family: droid arabic kufi;
    margin-right: 0px;
}
.comment_name a:hover{
color:#ff2e63;text-decoration:none;
}
.comment_date{color:#fff;font-style:italic;font-size:11px;line-height:1.2em;cursor:pointer;font-weight:400;margin-right:20px}
.blogger-box {-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
.blogger-box {width:100%;padding:0;border-top:1px solid #ddd;box-sizing:border-box}
.blogger-box {display:none}
.blogger-bar {
    font-family: droid arabic kufi;
    font-weight: 700;
    color: #0e2431;
    font-size: 14px;}
iframe.blogger-iframe-colorize{max-height:250px}
.small-button a{color:#0e2431!important}
.small-button a:hover{color:#ff2e63!important}
.blogger-bar {display:inline;float:left;padding:5px 10px;cursor:pointer;background:#eee}
.blogger-bar {margin-right:5px;margin-top:20px;border-radius:3px 3px 0 0;border:1px solid #ddd;border-bottom:none}
.blogger-bar.commentbtn {
background: #f57d00;
    color: #fff;
    width: 33%;
    text-align: center;
    margin: 20px 3px 0 3px;
    height: 40px;
    line-height: 30px;
    font-size: 18px;
}
.comment_child {
    width: 505px;
    display: block;
    margin-left: 0;
}
.comment_admin .comment_author_flag{
    background-color: transparent;
    display: inline-block;
    color: #fff;
    font-family: droid arabic kufi;
    font-size: 15px;
    font-weight: 700;
    padding: 1px 10px;
    line-height: 1.5em;
    /* position: absolute; */
    top: 0px;
    right: -51px;

}
.comment_reply:hover,a.comment-delete:hover{text-decoration:none;background:red!important;border-radius: 4px;}
a.comment-delete{color:#fff!important;font-size:12px;font-weight:500;margin:5px 0 0;padding:3px 5px;float:left;background:#0e2431}
.comment_reply{cursor:pointer;color:#fff!important;font-size:12px;font-weight:500;margin-top:5px;margin-right:10px;padding:3px 5px;float:left;background:#0e2431;border-radius: 4px;}
.unneeded-paging-control{display:none}
.comment_reply_form{padding:0 0 0 48px}
.comment_reply_form .comment-form{width:100%}
.comment_reply,.comment_service a{display:inline-block}
.comment_body p{font-size:14px;color:#0e2431;line-height:1.3em;font-weight:500;margin:5px 0}
.comment_body p img{vertical-align:middle}
#comments2 h3, #total-comments{
margin: 20px 0 10px!important;
    font-size: 15px!important;
    color: #666;
    padding-bottom: 10px;
}
#total-comments {
    position: relative;
    background: linear-gradient(-135deg,#f72762 0,#f9a322 100%);
    color: #ffffff!important;
    font-weight: bold;
    margin: 0 auto 14px;
    padding: 12px;
    text-align: right;
    border-bottom: 2px solid #ccc;
    line-height: 26px;
}
#total-comments:before {
    content: "\f086";
    display: block;
    font-family: FontAwesome;
    height: 28px;
    width: 32px;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    float: right;
    margin-right: 2px;
    margin-left: 10px;
    color: #ffffff;
}
#total-comments:after {
    content: '\f205';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
margin-right: 15px;
}
